body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 220px;
}

#display {
    width: 100%;
    height: 40px;
    background: #000;
    color: #0f0;
    text-align: right;
    font-size: 24px;
    border: none;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.buttons {
    display: grid;
    /* Pas compris ce qui a été changé ici */
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 45px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.operator {
    background: orange;
    color: white;
}

#equals {
    background: green;
    color: white;
    grid-row: span 2   ;
}

#clear {
    background: red;
    color: white;
}

.zero {
    grid-column: span 2;
}